#name-of-app {
  text-align: center;
  color: white;
}

#create-account-title {
  text-align: center;
  color: white;
}

.each-field {
  display: block;
  text-align: center;
}

#done {
  margin-top: 5%;
}