#name-of-app {
  text-align: center;
  color: white;
}

#create-account-title {
  text-align: center;
  color: white;
}

.create-account-labels {
	color: white;
}

#create-account-page {
  background-color: #1f1f14;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 3%;
  height: 640px;
  border-style: solid;
  border-width: 10px;
  border-color: #cccc00;
  border-radius: 50px;
}

.login-form {
  text-align: center;
}

#done {
  margin-top: 5%;
}